{% extends "layout.html" %}
{% block body %}
<div>
  <h2>Original audio</h2>
  <audio controls>
    <source src="{{original_audio}}" type="audio/wav">
  Your browser does not support the audio element.
  </audio>
</div>
<hr>
<div>
  <h2>Foleyized</h2>
  <audio controls>
    <source src="{{mixed_audio}}" type="audio/wav">
  Your browser does not support the audio element.
  </audio>
</div>
<div>
<img src="{{spectrum}}" alt="Spectrogram Plot">
</div>
<div>
<img src="{{mixedPlot}}" alt="mixed Plot">
</div>
<div>
  {{timing}}
</div>
{% endblock %}
